<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zara.Properties.Settings.Zara_base1ConnectionString"
            connectionString="Data Source=DESKTOP-AG8AKLU;Initial Catalog=Zara_base1;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="Zara.Properties.Settings.Zara_base2ConnectionString"
            connectionString="Data Source=DESKTOP-AG8AKLU;Initial Catalog=Zara_base2;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="Zara.Properties.Settings.Zara_base2_sotr2ConnectionString1"
            connectionString="Data Source=DESKTOP-AG8AKLU;Initial Catalog=Zara_base2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zara.Properties.Settings.Zara_baseConnectionString"
            connectionString="Data Source=DESKTOP-AG8AKLU;Initial Catalog=Zara_base;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>